<nav class="navbar navbar-default navbar-fixed-top app-nav">
      <div class="container" >
        <div class="navbar-header">
          
          <a class="navbar-brand app-navbar-brand" href="#">{{appName}}</a>
        </div>
        <div id="navbar app-navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav app-navbar-nav navbar-right">
            <li><a [routerLink]="['/signup']">Sign Up</a></li>
            <li><a [routerLink]="['/signup']">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>