<nav class="navbar navbar-default navbar-fixed-top app-nav">
      <div class="container" >
        <div class="navbar-header">
          
          <a class="navbar-brand app-navbar-brand" [routerLink]="['/home']">{{appName}}</a>
        </div>
        <div id="navbar app-navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav app-navbar-nav navbar-right">
            <li *ngIf="!isLogged" ><a [routerLink]="['/login']">Sign In</a></li>
            <li *ngIf="!isLogged"><a [routerLink]="['/signup']">Sign Up</a></li>
            <li *ngIf="isLogged"><a [routerLink]="['/login']">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>