
<div class="text-center">
  <div class="card">
    <h4 class="card-header">Steve Strutt</h4>
    <div class="card-block">
      <div class="row">
        <div class="col-xl-4 m-b-1"> <img class="profile-img img-thumbnail m-b-1" src="https://avatars.githubusercontent.com/u/4925?v=3">
          <a class="btn btn-sm btn-outline-primary btn-block m-t-1"
            target="_blank" href="https://github.com/sjs">View Profile</a>
        </div>
        <div class="col-xl-8">
          <ul class="list-group">
            <li class="list-group-item"><b>Username: </b> sjs</li>
            <li class="list-group-item"><b>Location: </b> New Orleans, LA</li>
            <li class="list-group-item"><b>E-Mail: </b> steve@sjstrutt.com</li>
            <li class="list-group-item"><b>Blog Link: </b> http://www.sjstrutt.com</li>
            <li class="list-group-item"><b>Member Since: </b> 2008-04-04T04:42:24Z</li>
          </ul>
        </div>
      </div>
      <div class="status m-t-1"> <span class="p-a-05 bg-info text-xs-center"> 31 Public Repos </span> <span class="p-a-05 bg-primary m-t-1 text-xs-center"> 8 Public Gists </span>        <span class="p-a-05 bg-danger m-t-1 text-xs-center"> 2 Followers </span> <span class="p-a-05 bg-inverse m-t-1 text-xs-center"> 15 Followings </span>        </div>
    </div>
  </div>
</div>