<div class="panel panel-primary login-panel" style="border-color: #36465d !important;">
  <div class="panel-heading register-header">
    {{pTitle}}
  </div>
  <div class="panel-body">
    <div class="panel-body">
      <div class='row'>
        <div class='col-lg-4 col-md-4'>
        </div>
        <div class='col-lg-4 col-md-4'>
          <form novalidate [formGroup]='registerForm' (submit)="doRegister()" >
            <label for="fname" class="sr-only">First Name</label>
            <input type="text" [ngClass]="{ 'has-error': registerForm.controls.fname.dirty && registerForm.controls.fname.invalid}" id="fname" name="fname" class="form-control" placeholder="First Name" formControlName="fname" autofocus="">
            <span *ngIf="registerForm.controls.fname.dirty && registerForm.controls.fname.invalid" class="help-block error-block">First Name is required</span>
            <br>
            <label for="lname" class="sr-only">Last Name</label>
            <input type="text" [ngClass]="{ 'has-error': registerForm.controls.lname.dirty && registerForm.controls.lname.invalid}" id="lname" name="lname" class="form-control" placeholder="Last Name" formControlName="lname" >
            <span *ngIf="registerForm.controls.lname.dirty && registerForm.controls.lname.invalid" class="help-block error-block">Last Name is required</span>
            <br>
            <label for="username" class="sr-only">User Name</label>
            <input type="text" [ngClass]="{ 'has-error': registerForm.controls.username.dirty && registerForm.controls.username.invalid}" id="username" name="username" class="form-control" placeholder="User Name" formControlName="username" >
            <span *ngIf="registerForm.controls.username.dirty && registerForm.controls.username.invalid" class="help-block error-block">Username is required</span>
            <br>
            <label for="password" class="sr-only">Password</label>
            <input type="password" [ngClass]="{ 'has-error': registerForm.controls.password.dirty && registerForm.controls.password.invalid}" id="password" name="password" class="form-control" placeholder="Password" formControlName="password" >
            <span *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.invalid" class="help-block error-block">Password is required</span>
            <br>
            <button [disabled]="registerForm.invalid" class="register-btn btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
          </form>
        </div>
        <div class='col-lg-4 col-md-4'>
        </div>
      </div>
    </div>
  </div>
</div>

